body {
  background-color: #000000;
  color: #0f0;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  text-align: center;
  transform: translateY(-30px);
  font-size: 20px;
  margin: 20px 0;
  font-style: italic;
}

#image-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#palpatine-img {
  width: 100%;
  max-width: 500px;
  border-radius: 4px;
  filter: grayscale(100%) sepia(100%) brightness(50%) hue-rotate(85deg) contrast(1.5);
}

#taskInputContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* transform: translateX(-66px); */
  padding-right: 
  width: 90%;
  font-weight: bold;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2rem;
  gap: 10px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: 2px solid #0f0;
  background-color: #000;
  color: #0f0;
  font-family: monospace;
  font-size: 16px;
  height: 42px;
  box-sizing: border-box;
  outline: none;
  max-width: 600px;
}

button {
  padding: 10px 20px;
  border: 2px solid #0f0;
  background-color: #000;
  color: #0f0;
  cursor: pointer;
  font-family: monospace;
  font-size: 16px;
  height: 42px;
  font-weight: bold;
}

#taskList {
  margin-top: 30px;
  width: 90%;
  max-width: 700px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #0f0;
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
  max-width: 700px;
  gap: 10px;
  word-wrap: break-word;
}

.task-left {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
  word-break: break-word;
  flex-wrap: wrap;
}

.task-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000;
  border: 2px solid #0f0;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.task-item input[type="checkbox"]:checked {
  background-color: #0f0;
}

.task-item span {
  flex: 1;
  font-size: 16px;
  line-height: 1.4;
  word-break: break-word;
}

.task-item span.completed {
  text-decoration: line-through;
}

.delete-btn {
  background-color: transparent;
  border: 2px solid #0f0;
  color: #0f0;
  padding: 5px 10px;
  cursor: pointer;
  font-family: monospace;
  white-space: nowrap;
  height: fit-content;
  align-self: flex-start;
  font-weight: bold;
}

